<div class="container mt-4">
  <div class="card" role="region" aria-labelledby="item-<%= item.id %>-details">
    <div class="card-body">
      <h5 class="card-title" id="item-<%= item.id %>-details">
        <strong>Seller:</strong>
        <%= link_to item.user.user_name, user_path(item.user), class: 'text-decoration-none', aria: { label: "View profile of #{item.user.user_name}" } %>
      </h5>
      <p class="card-text">
        <strong>Name:</strong>
        <%= item.name %>
      </p>
      <p class="card-text">
        <strong>Description:</strong>
        <%= item.description %>
      </p>
      <p class="card-text">
        <strong>Price:</strong>
        <%= item.price %>
      </p>
      <p class="card-text">
        <strong>Created at:</strong>
        <%= item.created_at %>
      </p>
      <p class="card-text">
        <strong>Availability:</strong>
        <%= item.availability ? 'Available' : 'Not Available' %>
      </p>
      <div class="d-flex justify-content-between">
        <% if user_signed_in? && item.user == current_user %>
          <%= link_to 'Edit', edit_user_item_path(current_user, item), class: 'btn btn-secondary', aria: { label: "Edit #{item.name}" } %>
          <%= button_to 'Deleteee', @item, method: :delete, class: 'btn btn-danger', aria: { label: "Delete #{item.name}" } %>
        <% end %>
        <%= link_to 'Add to Cart', item_path(item), class: 'btn btn-success', aria: { label: "Add #{item.name} to cart" } %>
      </div>
    </div>
  </div>
</div>
