<div id="<%= dom_id item %>">
  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= item.created_at %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= item.availability %>
  </p>

  <p>
    <strong>User:</strong>
    <%= item.user_id %>
  </p>

</div>
