<p style="color: green"><%= notice %></p>

<% content_for :title, "Items" %>

<div class="container mt-4">
 <h1 id="recent-items-heading">Recent Items</h1>
  <div class="row" aria-labelledby="recent-items-heading">
    <% @items.each do |item| %>
      <div class="col-md-4">
        <div class="card mb-4" role="region" aria-labelledby="item-<%= item.id %>-name">
        <div class="card-body">
        <h5 class="card-title" id="item-<%= item.id %>-name"><%= "#{item.name}" %></h5>
        <p class="card-text">Price: <%= item.price %></p>
        <p class="card-text">Availability: <%= item.availability %></p>   
        <%= link_to 'View', item_path(item), class: 'btn btn-primary', aria: { label: "Show details for #{item.name}" } %>
        <% if user_signed_in? && item.user == current_user %>
          <%= link_to 'Edit', edit_user_item_path(current_user, item), class: 'btn btn-secondary', aria: { label: "Edit #{item.name}" } %>
        <% end %>
      </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
