<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<%
=begin%>
 <div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div> 
<%
=end%>

<div class="container mt-4">
 <h1>Users</h1>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4">
        <div class="card mb-4">
        <div class="card-body">
        <h5 class="card-title">
              <%= link_to user.user_name, user_path(user), class: 'text-decoration-none' %>
        </h5>
        <%= link_to 'Inventory', inventory_path(user), class: 'btn btn-primary' %>
      </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
