<ul>
  
  <div class="container mt-4">
  <h1 id="inventory-heading"><%= @user.user_name %>'s Inventory</h1>
  <% if user_signed_in? && current_user.id == @user.id %>
    <%= link_to 'Add Item', new_user_item_path(current_user), class: 'btn btn-primary', aria: { label: 'Add new item' } %>
  <% end %>
  <% if @items.any? %>
  <div class="row" aria-labelledby="inventory-heading">
    <% @items.each do |item| %>
      <div class="col-md-4">
        <div class="card mb-4" role="region" aria-labelledby="item-<%= item.id %>-name">
        <div class="card-body">
        <h5 class="card-title" id="item-<%= item.id %>-name"><%= "#{item.name}" %></h5>
        <p class="card-text">Price: <%= item.price %></p>
        <p class="card-text">availability: <%= item.availability %></p>
        <div class="d-flex justify-content-between">
        <%= link_to 'View', item_path(item), class: 'btn btn-primary', aria: { label: "View #{item.name}" } %>
        <% if user_signed_in? && item.user == current_user %>
          <%= link_to 'Edit', edit_user_item_path(current_user, item), class: 'btn btn-secondary', aria: { label: "Edit #{item.name}" } %>
        <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% else %>
  <li>No items found</li>
<% end %>
</ul>